# Dependencies
node_modules/

# Build Output
dist/

# Playwright specific
test-results/
playwright-report/
playwright/.cache/

# Env files
.env*

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db